@import "./variables.scss";

.light {
  color: $dark-color;
  background-color: $main2-bg;

  .text {
    color: $dark-color;
  }

  .background {
    background-color: $light-bg;
  }

  .titled {
    color: $main-color;
  }

  .hover {
    &:hover {
      background-color: $light-bg;
    }
  }
}

.dark {
  color: $main-color;
  background-color: $main-bg;

  .text {
    color: $main-color;
  }

  .background {
    background-color: $main-bg;
  }

  .titled {
    color: $soft-color;
  }

  .hover {
    &:hover {
      background-color: $soft-bg;
    }
  }
}
